* {
  padding: 0;
  margin: 0;
   box-sizing: border-box; /* Box Model */
   font-family: 'Luxurious Roman', cursive;
}
table{
    border-style: solid;
    border : "0.5";
    border-collapse: collapse;
    margin-top: 2%;
    /*width: 100%;*/
}
td{
    padding: 20px;
}
th{
    height: 50px;
}
body{
    align-items: center;
    font-family: 'Luxurious Roman', cursive;
}
/*.content{
    max-width: 500px;
  margin: auto;
}*/
button{
    background-color: #e7e7e760;
    border-radius: 12px;
    padding: 15px 25px;
    border: none;
    transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Luxurious Roman', cursive;

}
.sunBtn{
    background-color: #f44336; 
    color: black;
    font-family: 'Luxurious Roman', cursive;
}
.button1 {
    background-color: #3213e060; 
    color: black;    
    font-family: 'Luxurious Roman', cursive;
  }
  
  .button1:hover {
    background-color: #4c8baf;
    color: white;
  }
  .sunBtn:hover {
    background-color: #99af4c;
    color: white;
  }
  .w3-container{
      border-style:double;
      border-width: 6px;
      border-color: rgb(7, 107, 110);
  }
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(8, 17, 9);
  border: green;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Luxurious Roman', cursive;
  border: green;
}

li a:hover {
  background-color: rgb(218, 208, 208);
  
}